.collection-item {
    display: flex;
    justify-content: space-between;
}
.material-icons {
    cursor: pointer;
}
.vote-box .material-icons{
    margin-right: 5px;
}
.vote-box {
    display: flex;
    align-items: center;
}